.app {
  width: 100%;
  height: 100vh;
  display: flex;
  column-gap: 2rem;
  padding: 2rem;
  background-color: #444;
  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #222;
    backdrop-filter: blur(5px);
    padding: 2rem;
    height: 100%;
    border-radius: 8px;
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    row-gap: 1rem;
    position: relative;
    overflow-y: auto;
    .control {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      padding: 1rem;
      border-radius: 4px;
      width: 100%;
      background-color: #333;
      .title {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
    .save_btn {
      padding: 1rem 2rem;
      cursor: pointer;
    }
    select,
    input[type="number"] {
      padding: 0.5rem;
    }
  }
  .workspace {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #222;
    backdrop-filter: blur(5px);
    border-radius: 8px;
    .file_zone {
      background-color: #222;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem;
      border-radius: 4px;
      cursor: pointer;
      span {
        font-size: 2rem;
        pointer-events: none;
      }
      input {
        display: none;
      }
    }
    .artboard {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
    }
  }
}

.flex-h {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
  input {
    max-width: 100px;
  }
  button {
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
  }
}

.flex-v {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
